<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Иди на хуй как сервис</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet" />

        <link rel="stylesheet" href="/static/styles.css?v=1" />
        <script src="/static/index.js?v=1" defer></script>
    </head>

    <body>
        <section class="intro intro-{{.BackgroundIndex}}">
            <div class="title">
                <h1 class="caption">Иди на хуй как сервис</h1>

                <div class="counter">
                    <button id="gtfo">
                        Сходить на хуй: <span id="counter">{{.FuckedCount}}</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="pros">
            <h3>Наши преимущества</h3>
            <p>– <b>Готовый к использованию сервис</b>. Вам ничего не придется делать – вы просто идете на хуй</p>
            <p>– <b>Высокая отказоустойчивость</b>. Будьте уверены, вы сможете пойти на хуй в любое время дня и ночи</p>
            <p>– <b>Современный дизайн</b>. Идите на хуй стильно</p>
            <p>– <b>Отзывчивая верстка</b>. Теперь пойти на хуй можно прямо с вашего смартфона</p>
        </section>
    </body>
</html>
